*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    font: 14px/17px 'arial', sans-serif;
    color: white;  
}


/* header */


.header{
    width: 100%;
    height: 700px;
    background-image: url(../image/bgjpn.jpg);
    animation: animasi-foto 1s linear;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 2px solid black;
    position: relative;
}

.header::after{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 700px;
    background-image: linear-gradient(to top, black 3%, rgba(255,255,255,0)25%);
    z-index: 1;
}

.mypp{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 2px 2px white, 0 0 1px 1px black;
}

.myname{
    padding-top: 15px;
    font-size: 30px;
    text-shadow: 0px 0px 2px black;
}

.myjob{
    padding: 10px 0;
    text-shadow: 0px 0px 2px black;
}



/* akhir header */

/* main */

.main{
    width: 100%;
    background-color: black;
}

/* hobby */

.hobby{
    padding: 20px;
    width: 75%;
    margin: auto;
}

.hobby h2{
    text-align: center;
    margin-top: 40px;
    font-size: 28px;
    margin-bottom: 40px;
    text-shadow: 0 0 5px black;
}

.group-hobby{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.scale-div-hobby{
    height: 300px;
    width: 250px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
}

.scale-div-hobby a{
    text-decoration: none;
    color: white;
}

.hobby1{
    background-image: url(../image/animebg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    height: 300px;
    width: 250px;
    justify-content: center;
    align-items: center;
}


.scale-div-hobby:hover .hobby1{
    transform: scale(1.3);
}


.hobby1 span{
    text-shadow: 0 0 8px black;
}

.hobby2{
    background-image: url(../image/gamingbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    height: 300px;
    width: 250px;
    justify-content: center;
    align-items: center;
    background-position: center;
}

.scale-div-hobby:hover .hobby2{
    transform: scale(1.3);
}

.hobby2 span{
    text-shadow: 0 0 5px black;
}

.hobby3{
    background-image: url(../image/musicbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 300px;
    width: 250px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position: center;
}

.scale-div-hobby:hover .hobby3{
    transform: scale(1.3);
}

.hobby3 span{
    text-shadow: 0 0 5px black;
}

/* akhir hobby */


/* hobby-1 */
.anime-landing{
    padding: 20px;
    width: 100%;
}

.anime-landing .header-anime{
    width: 100%;
}

.header-anime{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.header-anime h3{
    text-shadow: 0 0 5px black;
    font-size: 20px;
    padding: 5px;
}

.favorite-anime-header{
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
    text-shadow: 0 0 5px black;
}

.list-fav-anime{
    display: flex;
    width: 100%;
    margin-top: 5px;
    align-items: center;
    flex-direction: column;
}

.list-fav-anime .fav-anime{
    display: flex;
    width: 70%;
    border-radius: 10px;
    background-color: #2F4F4F;
    box-shadow: 0 0 5px black;
    margin: 20px;
}

.fav-anime a{
    text-decoration: none;
    display: flex;
    color: white;
}

.fav-anime figure{
    margin: 12px;
    margin-left: 20px;
}

.fav-anime figure figcaption{
    margin-left: 20px;
}

.synopsis-hobby-1{
    display: flex;
    flex-direction: column;
}

.synopsis-hobby-1 h5{
    margin-top: 10px;
    font-size: 16px;
}

.synopsis-hobby-1 p{
    margin: 3px;
    margin-left: 0;
}

/* akhir hobby-1 */

/* hobby-2 */
.games-landing{
    width: 100%;
    padding: 20px;
}

.header-games{
    width: 100%;
    text-align: center;
}

.header-games h3{
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.games-landing h4{
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.list-fav-games{
    width: 100%;
    display: flex;
    justify-content: center;
}

.fav-games{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(87, 84, 84);
    box-shadow: 0 0 5px black;
    border-radius: 20px;
}

.fav-games figure{
    margin: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.fav-games img{
    box-shadow: 2px 2px 5px black;
    border-radius: 5px;
}

.fav-games figcaption{
    margin-top: 10px;
}
/* akhir hobby-2 */

/* hobby-3 */
.music-landing{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.music-landing h4{
    font-size: 18px;
    text-shadow: 0 0 5px black;
    margin-top: 60px;
    margin-bottom: 20px;
}

.music-wrap{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.music-wrap img{
    margin: 30px;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
}
/* akhir hobby-3 */

/* footer */

.footer{
    width: 100%;
    background-color: #384242;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer .sosmed{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid white;
}

.footer .sosmed a{
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px 15px;
}

.footer .cp{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

.cp span{
    padding: 2px;
}


/* akhir footer */

/* akhir main */


/* animation */

@keyframes animasi-foto{
    0%{
        transform: translatex(-30px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
    }
}


/* media query */



/* tablet */
@media (max-width: 912px) {
    .group-hobby{
        flex-direction: column;
        height: 1100px;
    }

    .hobby h2{
        margin-top: 45px;
        margin-bottom: 20px;
    }

    .fav-anime a{
        flex-direction: column;
    }

    .fav-anime figure{
        margin: auto;
        margin-top: 15px;
    }

    .fav-anime .synopsis-hobby-1{
        margin: 5px;
    }
    .fav-games{
        flex-direction: column;
        align-items: center;
    }
}

/* tablet potrait & phone */
@media (max-width: 600px) {
    .group-hobby{
        flex-direction: column;
        height: 1100px;
    }
    
    .hobby h2{
        margin-bottom: -10px;
    }

    .fav-anime a{
        flex-direction: column;
    }

    .fav-anime figure{
        margin: auto;
        margin-top: 15px;
    }

    .fav-anime .synopsis-hobby-1{
        margin: 5px;
    }

    .fav-games{
        flex-direction: column;
        align-items: center;
    }

    .music-wrap img{
        width: 350px;
        height: 350px;
    }
}

/* phone */
@media (max-width: 480px){

    .myname{
        font-size: 24px;
    }

    .group-hobby{
        flex-direction: column;
        height: 1100px;
    }

    .hobby h2{
        margin-bottom: -10px;
    }

    .fav-anime a{
        flex-direction: column;
    }

    .fav-anime figure{
        margin: auto;
        margin-top: 15px;
    }

    .fav-anime .synopsis-hobby-1{
        margin: 5px;
    }

    .header-anime h3{
        font-size: 14px;
    }

    .favorite-anime-header{
        font-size: 14px;
    }

    .synopsis-hobby-1 h5{
        font-size: 14px;
    }

    .synopsis-hobby-1 p{
        font-size: 13px;
    }

    .fav-games{
        flex-direction: column;
        align-items: center;
    }

    .music-wrap img{
        width: 250px;
        height: 250px;
    }
}